<!DOCTYPE html>
<html>

<head>
	<title>My First $resource use</title>
	<style>
		[ng-cloak] {
			display: none !important;
		}

	</style>
</head>

<body ng-app="myApp" ng-controller="MyController as my_ctrl" ng-init="id = 2">
	<h1>My First $resource use</h1>
	<p>Note: install webpack globally and run it to see the compiled file.</p>
	<br/>
	<input type="text" ng-model="newTicket.name" /><button ng-click="create()">Create a new ticket</button>
	<br/><br/>
	<fieldset>

		<button ng-click="query()">Rafraichir la liste des tickets</button>&nbsp;<button ng-click="empty()">Delete All</button><br/>

		<table>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>New name</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="ticket in tickets track by $index">
				<td>{{ticket.id}}</td>
				<td>{{ticket.name}}</td>
				<td><input type="text" ng-model="ticket.newName" /></td>
				<td><button ng-click="update(ticket)">Update</button></td>
				<td><button ng-click="delete(ticket)">Delete</button></td>
			</tr>
		</table>
	</fieldset>

	<fieldset>
		<input type="number" ng-model="id" /><br/>
		<button ng-click="retrieve(id)">Retrieve the ticket</button><br/>
		<br/>
		<div ng-cloak>Retrieve Ticket: {{ticket}}</div>
	</fieldset>


	<script src="../../node_modules/angular/angular.js"></script>
	<script src="../../node_modules/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="wpk/bundle.js"></script>
</body>

</html>
