<!DOCTYPE html>
<html>

<head>
	<title>My First Controller</title>
</head>

<body ng-init="count = { value: 3 }">
	<div>
		App Count: {{count}}
	</div>
	<div ng-controller="MyFirstController as $ctrl">
		<button ng-click="$ctrl.decrementCount()">Decrement</button>
		<div>
			First Count: {{count}}
		</div>
	</div>
	<div ng-controller="MySecondController as $ctrl">
		<button ng-click="$ctrl.incrementCount()">Increment</button>
		<div>
			Second Count: {{count}}
		</div>
	</div>
	<hr/>
	<ul>
		<li>With a typescript plugin, SystemJS can automatically parse directly the ts file.</li>
		<li>Note that we don't use module yet here.</li>
	</ul>

	<script src="../../node_modules/systemjs/dist/system.src.js"></script>
	<script src="../system.ts.config.js"></script>
	<script src="../../node_modules/angular/angular.js"></script>
	<script>
		SystemJS
			.import('./main.ts')
			.then(function(response) {
				console.log('response', response);
			})
			.catch(function(error) {
				console.error('error while loading systemjs file: ', error);
			});
	</script>
</body>

</html>